[Desktop Entry]
Name=gioco1
Icon=gioco1
Name[ca]=gioco1
Name[cs]=gioco1
Name[da]=gioco1
Name[de]=gioco1
Name[el]=gioco1
Name[en_GB]=gioco1
Name[es]=gioco1
Name[et]=gioco1
Name[fr]=gioco1
Name[ga]=gioco1
Name[gl]=gioco1
Name[hu]=gioco1
Name[it]=gioco1
Name[ja]=gioco1
Name[km]=gioco1
Name[ko]=gioco1
Name[lv]=gioco1
Name[nds]=gioco1
Name[nl]=gioco1
Name[nn]=gioco1
Name[pa]=gioco1
Name[pl]=gioco1
Name[pt]=gioco1
Name[pt_BR]=gioco1
Name[ro]=gioco1
Name[ru]=gioco1
Name[sr]=gioco1
Name[sr@latin]=gioco1
Name[sv]=gioco1
Name[tr]=gioco1
Name[uk]=gioco1
Name[x-test]=xxgioco1xx
Name[zh_CN]=gioco1
Name[zh_TW]=gioco1
Comment=Extension of plasma applet tutorial with an icon and a persistent settings page. Does not do anything useful at all.
Comment[ca]=Plasma gioco1
Comment[cs]=Plasma gioco1
Comment[da]=Plasma gioco1
Comment[de]=Plasma gioco1
Comment[el]=Plasma gioco1
Comment[en_GB]=Plasma gioco1
Comment[es]=Plasma gioco1
Comment[et]=Plasma gioco1
Comment[fr]=Plasma gioco1
Comment[ga]=Plasma gioco1
Comment[gl]=Plasma gioco1
Comment[hu]=Plasma gioco1
Comment[it]=Plasma gioco1
Comment[ja]=Plasma gioco1
Comment[km]=ប្លាស្មា gioco1
Comment[ko]=Plasma gioco1
Comment[lv]=Plasma gioco1
Comment[nds]=Plasma gioco1
Comment[nl]=Plasma gioco1
Comment[nn]=Plasma gioco1
Comment[pa]=ਪਲਾਜ਼ਮਾ gioco1
Comment[pl]=Plasma gioco1
Comment[pt]=Plasma gioco1
Comment[pt_BR]=Plasma gioco1
Comment[ro]=Plasma gioco1
Comment[ru]=Plasma gioco1
Comment[sr]=Плазмин gioco1
Comment[sr@latin]=Plasmin gioco1
Comment[sv]=Plasma gioco1
Comment[tr]=Plasma gioco1
Comment[uk]=Плазма gioco1
Comment[x-test]=xxPlasma gioco1xx
Comment[zh_CN]=Plasma gioco1
Comment[zh_TW]=Plasma gioco1
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_gioco1
X-KDE-PluginInfo-Author=Yuri Baranov
X-KDE-PluginInfo-Email=baranovu at gmail dot com
X-KDE-PluginInfo-Name=gioco1
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Ubuntu-Gettext-Domain=desktop_kdesdk
